@import "../../styles/settings.scss";

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  h3 {
    color: black;
    font-size: 13px;
  }

  button {
    background-color: $color-light;
    color: $color-dark;
    border: none;

    &:hover {
      color: $color-favorite;
    }
    &.favorite {
      color: $color-favorite;
    }

    span {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
