@import "../../styles/settings.scss";

$nav-height: 8vh;

nav {
  background: darken($color-dark, 3%);
  height: $nav-height;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .tasks {
      font-size: 24px;
      line-height: $nav-height;
      margin-left: 10px;
    }
    .menu {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 5px 40px;
        li {
          a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
